aiosignal
aiofiles
aiohttp
openai
numpy<2.0.0
marqo
keyboard
pytesseract
ebooklib
beautifulsoup4
kivy
requests
pdf2image
qdrant-client==1.9.1
sentence-transformers
pdfminer.six
opencv-python
openai-whisper